<div style="margin: 2em;font:21px Arial, sans-serif">
  <p>Confirm Order</p>
</div>
<div style="width: 80%; margin: auto;padding: 1em;">
    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> isbn </th>
        <td mat-cell *matCellDef="let row"> {{row?.book?.isbn}} </td>
      </ng-container>
  
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let row"> {{row?.book?.title}} </td>
      </ng-container>
  
      <!-- Author Column -->
      <ng-container matColumnDef="sellersemail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Seller </th>
        <td mat-cell *matCellDef="let row"> {{row?.book?.user?.email}} </td>
      </ng-container>
  
       <!-- Quantity Column -->
       <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity Selected</th>
        <td mat-cell *matCellDef="let row"> {{row.quantity}}</td>
      </ng-container>
  
       <!-- Price Column -->
       <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let row"> {{row?.book?.price}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
  </div>
  <div>
    <p>Order Total Price: ${{ order?.totalPrice }} </p>
  </div>
  <div>
    <button (click)="placeOrder()">Place Order</button>
    <button (click)="cancel()">Cancel</button>
  </div>
  </div>
  
